@use 'variables';

.light{
    background-color: variables.$fff;

    nav{
        .navwrap{
            .link{
                color: variables.$black;
            }
        }
    }

    main{
        color: variables.$black;
        .left{
            .tab{
                color: variables.$black;
            }
        }
    }
}