@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$green : #7fff00;
$neon: #f28705;
$blak : #000000;
$black: #222222;
$gray: #8f8f8f;
$fff: #f2f0e4;
$orange: #f25c05;
$deeporange: #f24405;
$trans :  all .5s ease-in-out;

//dark theme
$quoteBg: #1a2037;
$quote: #3a97d4;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

