@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$softgreen: #54b57b;

//dark theme
$quoteBg: #1a2037;
$quote: #3a97d4;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

