@use 'variables';
@use 'nav';

body{
    background-color: variables.$black;
}
.light{
    background-color: variables.$fff;
    main{
        color: variables.$black;
    }
}
main{
    height: 90vh;
    // background-color: variables.$bodybg;
    color: variables.$gray;
    display: flex;
    align-items: center;
    // justify-content: center;
    // flex-direction: column;

    .mainsub{
        width: 50%;
        height: 100px;
        padding: 2%;
    }
    
    .right{
        // outline: 1px solid red;
        .quote{
            width: 500px;
            height: 100px;
            background-color: #1ec1ad;
            border: 1px solid;
            font-size: 20px;
            color: #4a2cd3;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
   
    .left{
        .msg{
            width: 400px;
            height: 50px;
            background-color: variables.$fff;
            display: flex;
            align-items: center;
            background-color: variables.$gray;
            color: variables.$black;
            h1{
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        button[id="quoteBtn"]{
            width: 200px;
            height: 40px;
            font-size: 20px;
            text-transform: uppercase;
            background-color: variables.$green;
            color: variables.$blak;
            outline: none;
            border: none;
            transition: variables.$trans;
            &:hover{
                background: none;
                color: variables.$neon;
                outline: 1px solid ;
            }
        }
    }

}
