@use 'variables';
@use 'nav';
@use 'themes';
@use 'queries';

body{
    background-color: variables.$black;
    transition: variables.$trans;
}

main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: row;

    .mainsub{
        width: 50%;
        height: 100px;
        padding: 2%;
    }
    
    .right{
        .quoteDiv{
            background-color: variables.$neon;
            width: 100%;
            height: fit-content;
            border-radius: 5%;
            p{
                display: flex;
                padding: 2% 2%;
                i{
                    color:  variables.$fff;
                    font-size: 70px;
                }
                .fa-quote-left{
                    text-align: center;
                }
            }
            .right{
                justify-content: end;
            }
            .quote{
                padding: 1rem 7%;
                font-family: 'kurale', sans-serif;
                color:  variables.$fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                text-transform: uppercase;
            }
            #author{
                color:  variables.$fff;
                font-style: italic;
                font-size: 20px;
                padding-left: 1rem;
            }
            a{
                text-decoration: none;
                color: variables.$fff;
                margin-left: 20%;
                transition: variables.$trans;
                &:hover{
                    color: cyan;
                }
            }
            button{
                // margin: 1rem;
                // border-radius: ;
                width: 40px;
                height: 40px;
                font-size: 20px;
                text-transform: uppercase;
                transition: variables.$trans;
                cursor: pointer;
                outline: none;
                border: none;
                color:  variables.$fff;
                background-color: transparent;
                &:hover{
                    color:  variables.$neon;
                    background-color: variables.$fff;
                }
            }
        }
    }
   
    .left{
        .msg{
            width: 400px;
            // height: 70%;
            display: flex;
            align-items: center;
            background-color: variables.$gray;
            color: variables.$fff;
            h1{
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
            }
            
        }
        .tab{
            color: variables.$fff;
        }
        
        button[id="quoteBtn"]{
            width: 200px;
            height: 40px;
            font-size: 20px;
            text-transform: uppercase;
            background-color: variables.$orange;
            color: variables.$fff;
            outline: none;
            border: none;
            transition: variables.$trans;
            &:hover{
                background: none;
                background-color: variables.$deeporange;
            }
        }
    }

}



.bellDiv{
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
    right: 1rem;
    bottom: 1rem;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  variables.$trans;
    i{
        color: variables.$fff;
        font-size: 1.5rem;
    }
    &:hover{
        background-color:  variables.$fff;
        outline: 1px solid red;
        i{
            color: red;
        }
    }

}

.floatingMenu{
    display: none;
    position: fixed;
    border: 1px solid variables.$black;
    width: 70%;
    height: 20rem;
    top: 25%;
    left: 20%;
    background-color:  variables.$fff;
    transition: variables.$trans;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),100px 100px 80px rgba(0, 0, 0, 0.07);
    .formCont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        form{
            p{
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            input{
                width: 40%;
                height: 2rem;
            }
            button{
                width: 100px;
                height: 30px;
                color:  variables.$fff;
                background-color: red;
                border: none;
                &:hover{
                    color: red;
                    background-color:  variables.$fff;
                    outline: 1px solid red;
                }
            }
        }
    }

}

@media(max-width:768px){
    main{
        height: max-content;
        flex-direction: column-reverse;
        justify-content: center;
        .right{
            .quoteDiv{
                p{
                    i{
                        font-size: 60px;
                    }
                }
                .quote{
                    font-size: 1rem;
                }
            }
        }
       .mainsub{
        height: fit-content;
        width: 90%;
       }
       .left{
        .msg{
            width: 100%;
        }
       }
       button[id="quoteBtn"]{
        width: 150px;
       }
    }
    .floatingMenu{
        width: 80%;
        // left: 150%;
        // align-items: center;
        // justify-content: center;
        .formCont{
            justify-self: center;
            align-items: center;
            justify-content: center;
            form{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}
